{
    "endOfLine": "crlf",
    "printWidth": 120,
    "tabWidth": 2,
    "importOrder": [
        "^next|react(.*)$",
        "^@mui/(.*)$",
        "^@components/(.*)$",
        "^@primitives/(.*)$",
        "^@hooks/(.*)$",
        "^@store/(.*)$",
        "^./types/(.*)$",
        "^./elms/(.*)$",
        "^[./]",
        "^[../]",
        "^@constants/(.*)$",
        "^@styles/(.*)$",
        "./style.css|^@baseStyle"
    ],
    "importOrderSeparation": true,
    "singleQuote": true
}
